<h1> Payment </h1>

<p> A <%= @number_of_years %> year loan of $<%= @principal_value %>, with an annual interest rate of <%= (@interest_rate / 100).round(2) %>%, requires a monthly payment of $<%= @monthly_payment.round(2) %>. </p>
